.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
 
  width: 400px;
  height: 200px;

  position: relative;
}

#banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.container {
  padding-top: 20px;
  text-align: center;
}